.jumbotron {
  padding-top: 6rem;
  background-color: #474642;
}

#projects {
  background-color: #474642;
}
section {
  padding-top: 5rem;
}
#about {
  background-color: #b6a2a2;
}
#contact {
  background-color: #474642;
}
